[role="button"] {
	cursor: pointer;
}
a[role="button"]:hover,
a[role="button"]:focus,
a[role="button"]:active,
a[role="button"] {
	text-decoration: underline;
}
.wp-mailman-form-manager .text-warning {
	color: #a00;
}
.after-title {
	margin-top: 2rem;
}
.m-t-2 {
	margin-top: 2rem;
}
.wp-mailman-form-manager .group-title {
	margin-top: 3rem;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid rgba(0,0,0,0.04);
}
.clearfix {
	position: relative;
}
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.row-group,
.form-group,
.radio-group {
	margin-bottom: 1rem;
}

.regular-select {
	width: 27em;
}

.regular-text-fluid,
.regular-select-fluid {
	max-width: 100%;
	width: 100%;
}

.wp-mailman-form-manager .pull-right {
	float: right;
}

.wp-mailman-form-manager .pull-left {
	float: left;
}

.mailman-form-settings .regular-text,
.mailman-form-settings .regular-select {
	display: block;
}

.regular-select-box {
	-webkit-appearance: none;
  		-moz-appearance: none;
  			appearance: none;
	cursor: pointer;
  	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AwMCjUvUcGZogAAAclJREFUeNrt271NA1EQhdELoinqIgZjIKQM94LI6QcCEgKE+DHrNzPnq8B690jeXe2eHQ6HaG7njgAAASAABIAAEAACQAAIAAEgAASAABAAAkAACAABIAAEgAAQAAJAAAgAASAABIAAEAACQAAIAAEgAASAABAAAkAACAABIAAEgAAQAAJAAAgAASAAtEkXi/6uyyRXjc75NcljkmcAvtdTkpckuyYArlccf/W/gNsk+ybjP7gGmIlg6fGrXARWRbD8+JXuAqohKDF+tdvAKgjKjF/xOcDqCG4qjV8RwMoIbpLcVzvMqk8CV0NQcvzKAFZCUHb86gBWQFB6/A4ATomg/PhdAJwCQYvxOwHYEsGuy/jdAGyBYJfkrtOBdXwh5L8QtBu/K4D/QNBy/M4Ajomg7fjdARwDQevxJwD4C4L2408B8BsEtxPGnwTgJwi2ep4AwIIIRo0/EcBXI48bfyqAz8YeOX6y7ochWyFI3r/a2U89hMkAPiIYm49DARAAAkAACAABIAAEgAAQAAJAAAgAASAABIAAEAACQAAIAAEgAASAABAAAkAACAABIAAEgAAQAAJAAAgAASAABIAAEAACQAAIAAGgk/QG0T48B0fje7sAAAAASUVORK5CYII=') right / 20px no-repeat #ffffff;
}
.wp-admin select.regular-select-box,
.wp-mailman-form-manager .regular-select-box {
	line-height: 1;
}

.regular-select-box,
.regular-select .selectize-input,
.regular-select-fluid .selectize-input {
	padding: 3px 5px;
	border-radius: 0;
}
.selectize-dropdown .active {
	background: #0073aa;
	color: #ffffff;
}

.regular-text-addon {
	margin: 0;
}

.regular-text-addon input[readonly] {
	background: none;
	border: none;
	box-shadow: none;
	display: inline;
	width: auto;
}

.clonable-block .clonable:not(:first-child) .clonable-button-close {
	display: block;
}

.panelbox {
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	background: #fff;
	margin-bottom: -1px;
}

.panel-block,
.panel-footer,
.panel-header,
.panelbox {
	padding: 1rem;
}

.help-block {
	border: 1px solid rgba(0,0,0,0.1);
	padding: 1rem;
}

.badge {
	padding: 3px;
	background: rgba(0,0,0,0.05);
}

.text-center {
	text-align: center;
}

.list-group .list-group-item-box {
	min-height: 30px;
	background: rgba(0,0,0,0.04);
	border: 1px solid #ccc;
	margin-bottom: 1rem;
}

.ui-sortable-placeholder {
	position: relative;
}
.ui-sortable-placeholder:before {
	content: "";
	border: 1px dashed rgba(0,0,0,0.2);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	visibility: visible;
	width: 100%;
}

.panelbox.sortable {
	cursor: move;
}

.clonable-footer {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.wp-mailman-form-manager .text-muted {
	color: #808080;
}

.wp-mailman-form-manager .radio-container {
	display: block;
	margin-bottom: 1rem;
}

.file-control {
	display: table;
}
.file-control [role=button],
.file-control input[readonly] {
	display: table-cell;
}
.file-control input[readonly] {
	width: 100%;
}
.file-control [type=file]:focus + [role=button] {
	position: relative;
	border-color: #5b9dd9;
	-webkit-box-shadow: 0 0 3px rgba(0,115,170,.8);
		box-shadow: 0 0 3px rgba(0,115,170,.8);
}

.file-control [type=file]:focus + [role=button] * {
	pointer-events: none;
}
.file-control [type=file] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.wp-mailman-form-manager .code-box {
	display: block;
	background: #f1f1f1;
	padding: 10px;
	font-family: Ubuntu, Helvetica, Calibri, sans-serif;
}

.wp-mailman-form-manager .code-box code {
	background: none;
	font-family: Ubuntu, Helvetica, Calibri, sans-serif;
}

.wp-mailman-form-manager .list {
	padding-left: 1rem;
}